.team-2..team-2-container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.team-2 .team-2-item {
  z-index: 0;
  position: relative;
  background: #FFF;
  box-shadow: 0 0 0 1px #E2E9ED;
  padding: 10px;
  box-sizing: border-box;
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  -webkit-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  -moz-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  -ms-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
  -o-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
}

.team-2 .team-2-item:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.team-2 .team-2-item:hover {
  z-index: 1;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  -webkit-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  -moz-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  -ms-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
  -o-transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
}

.team-2 .team-2-item:hover .team-2-social {
  margin: 16px 0 0;
  opacity: 1;
}

.team-2 .team-2-user {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

.team-2 .team-2-user-avatar {
  width: 35%;
  height: 35%;
  border-radius: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
}

.team-2.default-image .team-2-user-avatar {
  width: 98px;
  height: 98px;
}

.team-2 .team-2-user-avatar img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.team-2 .team-2-username {
  color: #313435;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.625rem;
}

.team-2 .team-2-user-position {
  color: #6F808A;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 2.375rem;
}

.team-2 .team-2-social {
  margin: 0 0 -18px;
  opacity: 0;
  padding: 0;
  transition: margin 0.2s ease, opacity 0.2s ease;
  -webkit-transition: margin 0.2s ease, opacity 0.2s ease;
  -moz-transition: margin 0.2s ease, opacity 0.2s ease;
  -ms-transition: margin 0.2s ease, opacity 0.2s ease;
  -o-transition: margin 0.2s ease, opacity 0.2s ease;
}

.team-2 .team-2-social-item {
  display: inline-block;
  margin: 0 10px;
}

.team-2 .team-2-social-item a {
  display: block;
}

.team-2 .team-2-social-item svg {
  fill: #515F65;
  display: block;
  height: 18px;
  transition: fill 0.2s ease;
  -webkit-transition: fill 0.2s ease;
  -moz-transition: fill 0.2s ease;
  -ms-transition: fill 0.2s ease;
  -o-transition: fill 0.2s ease;
}

.team-2 .team-2-social-item svg:hover {
  fill: #788D96;
}

@media (max-width: 800px) {
  .team-2.team-2-container {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .team-2 .team-2-item {
    width: 100% !important;
    max-width: 100% !important;
    min-width: 100% !important;
    flex-basis: 100% !important;
  }
}